.sidenav-container {
  background: #ffffff;
  min-height: 100vh;
  color: #333;
}

.sidenav {
  width: 220px;
  background: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}


.toolbar {
  font-size: 18px;
  font-weight: bold;
  background: #1976d2 !important;
  color: white;
}

.icon {
  color: #1976d2;
}

.menu-text {
  margin-left: 10px;
  font-weight: 500;
  color: black;
}

.hide-on-large {
  display: none;
}

.content {
  padding: 30px;
}

@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
  .hide-on-large {
    display: block;
  }
}

.custom-snackbar {
  background-color: #ff9800; /* Naranja llamativo */
  color: white;
  font-weight: bold;
  text-align: center;
}
